<div class="start-skeleton">
  <div class="start-skeleton__container" fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="raw" fxLayoutAlign="start center" fxLayoutGap="1rem">
      <h3>{{"start.organizations.title" | translate}}</h3>
    </div>
    <div class="start-skeleton__orgs" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
      <mat-card class="org-card">
        <mat-card-header>
          <div mat-card-avatar class="skeleton-animation"></div>
          <mat-card-title><div class="title skeleton-animation"></div></mat-card-title>
          <mat-card-subtitle><div class="subtitle skeleton-animation"></div></mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="raw" fxLayoutAlign="start center" fxLayoutGap="1rem">
      <h3>{{"start.projects.title" | translate}}</h3>
    </div>
    <div class="start-skeleton__projects"  fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem">
      <div class="project-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <div class="project-card__desc" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <div mat-card-avatar  class="skeleton-animation"></div>
          <div class="project-card__header" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem">
            <div  class="title skeleton-animation"></div>
            <div class="subtitle skeleton-animation"></div>
          </div>
        </div>

        <div class="project-card__info" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" >
          <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" fxHide.lt-md>
            <span class="project-card__key">Key</span>
            <div class="subtitle skeleton-animation"></div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" fxHide.lt-md>
            <span class="project-card__lead">Lead</span>
            <div class="subtitle skeleton-animation" ></div>
          </div>
        </div>
        <div class=""></div>
      </div>

      <div class="project-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <div class="project-card__desc" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <div mat-card-avatar  class="skeleton-animation"></div>
          <div class="project-card__header" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem">
            <div  class="title skeleton-animation"></div>
            <div class="subtitle skeleton-animation"></div>
          </div>
        </div>

        <div class="project-card__info" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" >
          <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" fxHide.lt-md>
            <span class="project-card__key">Key</span>
            <div class="subtitle skeleton-animation"></div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".2rem" fxHide.lt-md>
            <span class="project-card__lead">Lead</span>
            <div class="subtitle skeleton-animation" ></div>
          </div>
        </div>
        <div class=""></div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h3>{{"start.activity.title" | translate}}</h3>
    <div class="start-skeleton__changes">
    </div>
  </div>
</div>

