.doc {
  &__header {
    margin-bottom: 1rem;
  }
  &__description {
    margin-bottom: 1rem;
  }
}
.sidenav {
  min-width: 150px;
  &__right {
    border-left: none;
  }
}

.chapter {
  padding: 1rem;
}

.exception {
  margin-top: 2rem;
  &__body {
    margin-left: 2rem;
  }
}

p {
  font-size: 1rem;
  text-indent: 1rem;
}

.example {
  margin-left: 1rem;
  margin-top: -4px;
}

