
<div class="special">
  <h1 class="special__header">Special thanks to: </h1>
  <div class="special__container">
    <div class="special__row">
      <img src="../../../assets/images/flaticon_negative.svg" alt="flaticon" class="special__img">
      <p class="special__description">
        Icons business pack made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      </p>
    </div>

  </div>
</div>
