<div class="toolbar" fxLayoutGap="20px">

  <mat-form-field class="toolbar__search" appearance="outline" [style.fontSize.px]="14">
    <input matInput placeholder="Search...">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-form-field class="toolbar__filter members" appearance="standard" [style.fontSize.px]="14">
    <mat-label>Members</mat-label>

    <mat-select [(value)]="member">
      <mat-select-trigger>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <img class="members__userPicture" src="{{member ? member.user.userPicture : ''}}" alt="">
          <span> {{member ? member.user.name : ''}} </span>
        </div>

      </mat-select-trigger>
      <mat-option *ngFor="let m of members$ | async" [value]="m">
        <img class="members__userPicture" src="{{m.user.userPicture}}" alt=""> {{m.user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="toolbar__filter" appearance="standard" [style.fontSize.px]="14">
    <mat-label>Labels</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of []" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="spacer"></div>

  <div class="toolbar__buttons" fxLayout="raw" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="createTask()">
      <mat-icon>add</mat-icon>
      Task
    </button>
  </div>
</div>
