@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-footer {
    color: map-get($foreground, text);
    .footer {
      border-top: solid 1px map-get($foreground, divider);
      background: map-get($background, background);
    }
    a {
      &:hover {
        color: mat-color($primary);
      }
    }
  }
}
