<div class="footer">
  <div class="footer__container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="group" fxLayoutGap="16px" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
      <span>&#169; 2020 Atlas</span>
      <div class="link-wrapper">
        <a routerLink="/about"
           class="footer__link footer__link-about">{{"footer.link.about" | translate}}</a>
      </div>
      <div class="link-wrapper">
        <a routerLink="/privacy"
           class="footer__link footer__link-privacy">{{"footer.link.privacy" | translate}}</a>
      </div>
    </div>

    <img src="../../../assets/images/logo/Atlas-logo_339_5grad_Deep.svg" alt="logo" class="footer__logo" [fxShow.lt-md]="false">

    <div class="group" fxLayoutGap="16px" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center">
      <div class="link-wrapper">
        <a routerLink="/docs"
           class=" footer__link footer__link-documentation">{{"footer.link.documentation" | translate}}</a>
      </div>
      <div class="link-wrapper">
        <a routerLink="/price"
           class=" footer__link footer__link-price">{{"footer.link.price" | translate}}</a>
      </div>
      <div class="link-wrapper">
        <a routerLink="/special"
           class=" footer__link footer__link-special">Special</a>
      </div>
      <app-i18n-menu></app-i18n-menu>
    </div>
  </div>
</div>

