@import "../../../themes/mixins";
@import "../../../themes/const";

.footer {
  width: 100%;
  height: $footer-height;
  font-size: .9rem;
  font-weight: lighter;
  padding: 0 1rem;

  &__logo {
    height: 36px;
  }

  &__container {
    margin: 0 auto;
    max-width: 1920px;
    height: inherit;
  }
  .group {
    height: $footer-height / 2;
  }

}
