@import "../../../styles/mixins";
@import "../../../styles/const";

.footer {
  width: 100%;
  height: $footer-height;
  font-size: .9rem;
  font-weight: lighter;

  a {
    &:hover {
      color: $accent;
    }
  }

  .drm-logo {
    width: 350px;
    &__img {
      height: 46px;
      margin: 0 16px;
    }
    &__text {
      @include gradient-text
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 95%;
  }
  .group {
    width: 100%;
    height: $footer-height / 2;
  }

}
