@mixin project-modal-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-form-field.mat-focused .mat-form-field-label {
    color: map-get($foreground, text);
  }
  input {
    caret-color: map-get($foreground, text)!important;
  }
}
