.dialog {
  &__project-img {
    height: 100px;
    width: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__content {
    width: 500px;
    margin: 0 auto;
  }
  &__button-group{
    width: 100%;
  }
  &__toggle-group {

    border: unset;
  }
}

.toggle {
  &__button {
    width: 50%;
  }
  &__img {
    height: 100px;
  }
}

@media (max-width: 720px) {
  // project-dialog
  .dialog {
    &__content {
      width: unset  !important;
    }
  }
}
