.doc {
  line-height: 2rem;
  &__title {

  }
  &__small-description {
    padding: 1rem;
  }
  .chapter {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  &__example {
    margin-top: 1rem;
  }
}
.exception {
  padding-left: 1rem;
}
mat-divider {
  margin-bottom: 1rem;
}
