@import '~@angular/material/theming';

@import 'src/app/components/footer/footer-theme';
@import 'src/app/components/toolbar/toolbar-theme';
@import 'src/app/components/toolbar/user-menu/user-menu-theme';
@import 'src/app/view/atlas/atlas-theme';

// Styles for the components that are based on the current theme.
@mixin components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  @include toolbar-theme($theme);
  @include user-menu-theme($theme);
  @include atlas-theme($theme);
  @include footer-theme($theme)

}

// Define the light theme.
$primary: mat-palette($mat-blue-gray, 50);
$accent:  mat-palette($mat-teal, 700);
$theme: mat-light-theme($primary, $accent);



