@import "../../../themes/const";

$sidenav-min-w: 60px;

.project {
  height: calc( 100vh - #{$footer-height} - #{$toolbar-height} - 1px);
  width: 100%;

  &__sidenav {
    min-width: $sidenav-min-w;
    max-width: 200px;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%),
                0 16px 24px 2px rgb(0 0 0 / 14%),
                0 6px 30px 5px rgb(0 0 0 / 12%);
    z-index: 3;
    position: absolute;
    top: 0;
    height: calc( 100vh - #{$footer-height} - #{$toolbar-height});
  }

  &__content {
    position: relative;
    left: $sidenav-min-w;
    z-index: 1;
    height: 100%;
    width: calc( 100vw - #{$sidenav-min-w} - 40px);
    overflow: auto;

  }
}

.nav-list {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 48px;
    padding: 10px;
    margin: 5px;

  }
}

.nav-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  height: 48px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;

  &__img {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    border-radius: 50%;
  }

  &__name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
  }
}

