<div class="home" fxLayout="column" fxLayoutGap="100px">

  <div class="home__header" fxLayout="column" fxFlexAlign="center" fxLayoutGap="20px">

    <img *ngIf="theme.name === 'light-theme', else darkMode" src="assets/images/logo/Atlas-logo_339_5grad__with__text_light_Deep.svg" alt="atlas-logo" class="home__logo">
    <ng-template #darkMode>
      <img src="assets/images/logo/Atlas-logo_339_5grad__with__text_dark_Deep.svg" alt="atlas-logo" class="home__logo">
    </ng-template>


    <h1 class="home__title" >{{'home.header.text.title' | translate}}</h1>
    <div fxFlexAlign="center">
      <button mat-flat-button color="primary"
              class="home__button"
              (click)="goToStart()"
      >{{'home.header.button.trynow' | translate }}</button>
    </div>

  </div>
  <div class="home__row section" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="20px" fxLayoutAlign="center center">
    <div class="section__left" fxLayout="column" fxLayoutGap="10px">
      <h2 class="section__title">{{'home.scrum.title' | translate}}</h2>
      <p class="section__text">{{'home.scrum.body' | translate}}</p>
    </div>
    <img src="assets/images/board2.png" alt="scrum" class="section__image">
  </div>
  <div class="home__row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="20px" fxLayoutAlign="center center">
    <img src="assets/images/g.png" alt="scrum" class="section__image">
    <div class="section__left" fxLayout="column" fxLayoutGap="10px">
      <h2 class="section__title">{{'home.stat.title' | translate}}</h2>
      <p class="section__text">{{'home.stat.body' | translate}}</p>
    </div>
  </div>
</div>
