@mixin board-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  .board {
    &__issues-containers {
      color: map-get($foreground, text);
      background-color: map-get($background, background);
    }
    &__issues-container {
      border: solid 1px map-get($foreground, divider);
    }
    &__issues {

    }
    &__issue {
      color: map-get($foreground, text);
      background-color: map-get($background, card);
      border: solid 1px map-get($foreground, divider);
    }

    &__issue-custom-placeholder{
      background-color: map-get($background, tooltip);
    }
    &__issues-container-custom-placeholder {
      background-color: map-get($background, tooltip);
    }
  }
  .cdk-drag-preview {
    color: map-get($foreground, text);
  }

  .issues-container{
    &__header {

    }
    &__input {
      background-color: map-get($background, background);
      color: map-get($foreground, text);
      border: none;
      &:focus {
        outline: none;
        border: 1px solid mat-color($primary);
        caret-color: mat-color($primary);
      }
    }
  }
}
