<div cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal" class="board__issues-containers"
     (cdkDropListDropped)="dropContainer($event)">
  <div class="board__issues-container issues-container" *ngFor="let container of containers; let i = index" cdkDrag>
    <div class="board__issues-container-custom-placeholder" *cdkDragPlaceholder></div>

    <header class="issues-container__header" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <input [id]="'input' + i"
             class="issues-container__input"
             disabled
             (focusout)="disableInput('input' + i)"
             (change)="saveContainerName($event.target.value, container, 'input' + i)"
             [value]="container.name">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <h3>{{container.issues.length}}</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editName('input' + i)">
            <mat-icon>edit</mat-icon>
            <span>Rename</span>
          </button>
          <button mat-menu-item>
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </header>
    <div
      cdkDropList
      [cdkDropListData]="container.issues"
      class="board__issues"
      (cdkDropListDropped)="dropIssue($event)">
      <div class="board__issue" *ngFor="let issue of container.issues" cdkDrag>
        <div class="board__issue-custom-placeholder" *cdkDragPlaceholder></div>
        {{issue}}
      </div>
    </div>
  </div>
</div>

