@import "../../../../../themes/const";

/******** containers ********/
.board {

}
.board__issues-containers {
  width: 100%;
  height: calc(100% - #{$board-toolbar});
  display: block;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
}

.board__issues-container {
  box-sizing: border-box;
  width: $board-issues-container-width;
  margin-right: 25px;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;

  min-height: 160px;
  height: 100%;

  &:first-child {
    //margin-left: 20px;
  }

  > header {
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
    cursor: move;
    padding: 0 5px;

    &:hover {
      border-radius: 4px;
    }
  }
}

/************ issues *********/

.board__issues {
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  height: calc(100% - #{$board-issues-container-header-height});
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.board__issue {
  box-sizing: border-box;
  padding: 20px 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  font-size: 14px;
  border-radius: 4px;
  height: $board-issue-height;

  &:last-child {
    margin-bottom: 0;
  }
}

/************ cdk **********/
.board__issues-containers.cdk-drop-list-dragging .board__issues-container:not(.cdk-drag-placeholder),
.board__issues.cdk-drop-list-dragging .board__issue:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.board__issue-custom-placeholder {
  height: $board-issue-height;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__issues-container-custom-placeholder {
  width: $board-issues-container-width;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.issues-container{
  &__header {

  }
  &__input {
    font-size: 1rem;
    font-weight: bold;
    &:disabled {
      cursor: move;
    }
  }
}
