<div cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal" class="board__issues-containers"
     (cdkDropListDropped)="dropContainer($event)">

  <div class="board__issues-container issues-container" *ngFor="let container of containers; let i = index" cdkDrag>
    <div class="board__issues-container-custom-placeholder" *cdkDragPlaceholder></div>
    <app-issues-container [container]="container" [i]="i"></app-issues-container>
  </div>

  <div #newContainer id="new-container" class="board__issues-container board__issues-container--new">
    <form formGroup="form" (ngSubmit)="createContainer()" fxLayout="raw"fxLayoutAlign="space-around center">
      <mat-form-field>
        <input matInput [formControl]="summaryControl">
      </mat-form-field>
      <button mat-icon-button color="primary">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </div>

  <div class="board__issues-container board__issues-container--add">
    <button mat-stroked-button color="accent" class="board__add-container" (click)="createContainer()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>


