<div cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal" class="board__tasks-containers"
     (cdkDropListDropped)="dropContainer($event)">

  <div class="board__tasks-container tasks-container" *ngFor="let container of containers; let i = index" cdkDrag>
    <div class="board__tasks-container-custom-placeholder" *cdkDragPlaceholder></div>
    <app-task-container [container]="container" [i]="i"></app-task-container>
  </div>

  <div #newContainer id="new-container" class="board__tasks-container board__tasks-container--new">
    <div fxLayout="raw" fxLayoutAlign="space-around center">
      <mat-form-field>
        <input [(ngModel)]="summary" matInput>
      </mat-form-field>
      <button mat-icon-button color="primary" *ngIf="!loading" type="button" (click)="create()">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button color="accent" type="button" *ngIf="!loading" (click)="newContainer.style.display = 'none'">
        <mat-icon>close</mat-icon>
      </button>
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
    </div>
  </div>

  <div class="board__tasks-container board__tasks-container--add">
    <button mat-stroked-button color="accent" class="board__add-container" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>


