
.special {
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  &__container {
    width: 100%;
  }
  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__img {
    height: 2rem;
  }
  &__description {
    display: block;
  }

}
