@mixin about-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-about {
    color: map-get($foreground, text);
    .about {
      background: map-get($background, background);
    }
    h1, h2 {
      color: mat-color($primary);
    }
  }
}
