@import '../../node_modules/@angular/material/theming';
@import '../app/components/footer/footer-theme';
@import '../app/components/toolbar/toolbar-theme';
@import '../app/components/toolbar/user-menu/user-menu-theme';
@import '../app/components/project-modal/project-modal-theme';
@import '../app/components/task-create-modal/task-create-modal-theme';
@import '../app/components/task-editor/task-editor-theme';
@import '../app/web/start/pages/start-page/start-page-theme';
@import '../app/components/page-not-found/page-not-found-theme';
@import '../app/web/start/components/start-skeleton/start-skeleton-theme';
@import '../app/web/project/pages/project-page/project-page-theme';
@import '../app/web/project/components/board/board-theme';
@import '../app/web/project/components/task-box/task-box-theme';
@import '../app/web/project/components/board-toolbar/board-toolbar-theme';
@import '../app/web/project/components/task-container/task-container-theme';
@import '../app/web/home/home-theme';
@import '../app/web/start/components/project-card/project-card-theme';
@import '../app/web/about/pages/about/about-page-theme';
@import '../app/web/special/special-theme';
@import '../app/web/documentation/pages/documentaion-page/documentation-page-theme';
@import '../app/web/documentation/pages/exceptions-page/exceptions-page-theme';

// Styles for the components that are based on the current theme.
@mixin components-theme($theme) {
  @include user-menu-theme($theme);
  @include footer-theme($theme);
  @include about-page-theme($theme);
  @include start-page-theme($theme);
  @include special-theme($theme);
  @include project-modal-theme($theme);
  @include project-card-theme($theme);
  @include home-theme($theme);
  @include documentation-page-theme($theme);
  @include exceptions-page-theme($theme);
  @include toolbar-theme($theme);
  @include start-skeleton-theme($theme);
  @include project-page-theme($theme);
  @include board-theme($theme);
  @include page-not-found($theme);
  @include task-container-theme($theme);
  @include task-create-modal-theme($theme);
  @include board-toolbar-theme($theme);
  @include task-box-theme($theme);
  @include task-editor-theme($theme);
}

// Define the light theme.
$primary: mat-palette($mat-teal, 700);
$accent: mat-palette($mat-deep-orange, 700);
$theme: mat-light-theme($primary, $accent);





