@import '../../node_modules/@angular/material/theming';

@import '../app/components/footer/footer-theme';
@import '../app/components/toolbar/toolbar-theme';
@import '../app/components/toolbar/user-menu/user-menu-theme';
@import '../app/pages/start/start-theme';
@import '../app/pages/home/home-theme';
@import '../app/pages/start/project-card/project-card-theme';
@import '../app/pages/about/about-theme';
@import '../app/pages/special/special-theme';
@import '../app/pages/documentation/documentation-theme';
@import '../app/pages/documentation/exceptions/exceptions-theme';
@import '../app/components/project-modal/project-modal-theme';

// Styles for the components that are based on the current theme.
@mixin components-theme($theme) {
  @include user-menu-theme($theme);
  @include footer-theme($theme);
  @include about-theme($theme);
  @include start-theme($theme);
  @include special-theme($theme);
  @include project-modal-theme($theme);
  @include project-card-theme($theme);
  @include home-theme($theme);
  @include documentation-theme($theme);
  @include toolbar-theme($theme);
  @include exceptions-theme($theme);
}

// Define the light theme.
$primary:  mat-palette($mat-teal, 700);
$accent: mat-palette($mat-deep-orange, 700);
$theme: mat-light-theme($primary, $accent);





