@import "const";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

p {
  margin: 0;
}
pre {
  margin: 0;
}
