mat-select {
  font-size: .9rem;
  border-radius: 4px;
}

.mat-button-wrapper {
  font-size: .9rem;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

.mat-option-text {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
