mat-select {
  font-size: .9rem;
  border-radius: 4px;
}

.mat-button-wrapper {
  font-size: .9rem;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

.mat-option-text {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.full-screen-modal {
  max-width: unset !important;
  width: 100%;
  height: 100%;
  .mat-dialog-container {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    .mat-dialog-content {
      max-height: unset !important;
    }
  }
}

