@import "~src/themes/atlas-typography";


.atlas-doc-title {
  @include title();

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
