.dialog {
  &__content {
    width: 400px;
    margin: 0 auto;
  }
  &__img {
    margin: auto auto;
    max-height: 150px;
    max-width: 300px;
    border:1px solid #00796b;
    border-radius: 50px;
  }
  &__button {
    margin: 0 auto;
  }
  &__button-group{
    width: 100%;
  }

}
