@import "../../../themes/const";

.home {
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow-x: hidden;

  &__header {
    margin-top: 100px;
    height: $about-header-height;
  }

  &__logo-image {
    //  2.25rem = 36px - text
    // 36px - button
    // 20px - gaps
    height: $about-header-height - (36px + 36px + 20px + 20px);
  }

  &__title {
    display: block;
    text-align: center;
  }

  &__button {
    font-size: 1rem;
  }
  &__row {
    height: $about-row-height;

    .section {
      &__left {
        width: 100%;
      }

      &__image {
        //  max-height: 80%;
      }

      &__title {
        display: block;
      }

      &__text {
        display: block;
      }
    }
  }

}
@media (max-width: 719px) {
  .section {
    &__image {
      height: 80%;
    }
  }
}
@media (min-width: 720px) {
  .section {
    &__image {
      height: inherit;
    }
  }
}

@media (min-width: 960px) {
  .section {
    &__left {
      max-width: 45%;
    }
    &__image {
      height: inherit;
    }
  }
}

