<mat-toolbar class="toolbar">
  <a routerLink="/" class="toolbar__logo" mat-button>
    <img *ngIf="theme.name === 'light-theme', else darkMode" src="assets/images/logo/Atlas-logo_339_5grad__with__text_light_Deep.svg" alt="atlas-logo" class="toolbar__logo-image">
    <ng-template #darkMode>
      <img src="assets/images/logo/Atlas-logo_339_5grad__with__text_dark_Deep.svg" alt="atlas-logo" class="toolbar__logo-image">
    </ng-template>
  </a>

  <span class="spacer"></span>
  <nav class="toolbar__nav">
    <a href="#" mat-flat-button color="accent" class="toolbar__button">Try now</a>

    <a href="#" mat-button
       *ngIf="!auth.loggedIn; else userMenu"
       class="toolbar__button toolbar__button--colorless"
       (click)="auth.login()">Log in</a>
    <ng-template #userMenu >
      <app-user-menu  class="toolbar__button"></app-user-menu>
    </ng-template>

  </nav>
</mat-toolbar>


