@import "src/styles";
::ng-deep .mat-menu-panel {
  width: 250px;
  background-color: $primary-light!important;
}

.toolbar {

  height: $toolbar-height;
  padding: 0;
  box-shadow:
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);

  a {
    font-size: 16px;
  }
  &__logo {
    &-image {
      height: $toolbar-height - 26px;
    }
  }
  &__nav {
    margin-right: 16px;
  }
  &__button {
    margin-left: 16px;
    &--colorless {
      &:hover {
        background-color: $accent-lighter !important;
        color: $accent !important;
      }
    }
  }
  &__user-picture {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 2px solid $accent;
  }

  &__menu {

    &-item {
      padding-left: 24px;
      display: flex;
      align-items: center;
      background-color: $primary-light;
      height: 50px;
    }
    &-title {
      padding-left: 16px;
      font-weight: bold;
    }
  }
  &__theme {
    padding-left: 16px;
  }
}

.spacer{
  flex: 1 1 auto;
}
