@import "../../../themes/const";
.toolbar {
  height: $toolbar-height;
  padding: 0;
  box-shadow:
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);

  &__logo {
    &-image {
      height: $toolbar-height - 26px;
    }
  }
  &__nav {
    margin-right: 16px;
  }
  &__button {
    margin-left: 16px;
    &--colorless {
      &:hover {
        background-color: $accent-lighter !important;
        color: $accent !important;
      }
    }
  }
}

.spacer{
  flex: 1 1 auto;
}

.menu {
  &__button {
    width: 150px;
  }

  &__title {
    width: 126px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.docs {
  margin-left: 5px;
  font-weight: lighter;
  font-size: 1.6rem;
}
