@mixin organizations-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-organizations {
    color: mat-color($primary, default-contrast);
    .organizations {
      background-color: mat-color($primary);
    }
  }
}
