<div class="organizations">
  <div *ngIf="organizations.length, else IfOrganizationsArrayIsEmpty" class="organizations__container">

Organizations
  </div>
<ng-template #IfOrganizationsArrayIsEmpty>
  <div fxLayout="column" fxLayoutGap="20px" class="organizations__container" fxLayoutAlign="center center">
    <img src="assets/images/organization.png" alt="org-img" class="organizations__image">
    <h3>У Вас пока нет организаци.</h3>
    <p>Организация позволяет управлять проектами и командами.</p>
    <button mat-raised-button color="accent">Создайте организацию</button>
  </div>
</ng-template>
</div>
