@import '~@angular/material/theming';
@import "themes/reset";
@import "themes/components-theme";
@import 'themes/const';
@import "app/app.component";

@include mat-core();
@include angular-material-theme($theme);
@include components-theme($theme);

.code {
  border-radius: 4px;
  &-in-text {
    display: inline !important;
    padding: 2px 4px !important;
  }
}
