.drop__down{
  width: 200;
  border-color: #00796b;
  border-width: 1;
}

.list__item{
  border-color: #00796b;
  border-width: 1;

  height: 200;
}
.list__item2{
  border-color:  #00796b;
  border-width: 1;
  height:30;


}
