@import "src/styles/const";

.user-picture {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 2px solid $accent;

}
.menu {
  &__item {
    min-width: 250px !important;
    padding-left: 24px;
    display: flex;
    align-items: center;
    height: 48px;
  }
  &__title {
    padding-left: 16px;
  }
}
