<div class="start">
  <div *ngIf="organizations.length, else IfOrganizationsArrayIsEmpty" class="start__container">

Organizations
  </div>
<ng-template #IfOrganizationsArrayIsEmpty>
  <div fxLayout="column" fxLayoutGap="20px" class="start__container" fxLayoutAlign="center center">
    <img src="assets/images/organization.png" alt="org-img" class="start__image">
    <h3>{{'start.headers.organization'|translate}}</h3>
    <p>{{'start.text'|translate}} </p>
    <button mat-flat-button color="accent"
            (click) = "createOrganization()"
            >{{'start.buttons.create'|translate}}</button>
  </div>
</ng-template>
</div>
