<div class="start">
  <div *ngIf="organizations.length, else IfOrganizationsArrayIsEmpty" class="start__container" fxLayout="column" fxLayoutGap="20px">
    <h3>{{"start.organizations.title" | translate}}</h3>
    <div class="start__orgs" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <app-org-card></app-org-card>
    </div>

    <mat-divider></mat-divider>

    <h3>{{"start.projects.title" | translate}}</h3>
    <div class="start__projects"  fxLayout="column" fxLayoutAlign="center start">
      <app-project-card></app-project-card>
    </div>

    <mat-divider></mat-divider>

    <h3>{{"start.activity.title" | translate}}</h3>
    <div class="start__changes">

    </div>

  </div>
<ng-template #IfOrganizationsArrayIsEmpty>
  <div fxLayout="column" fxLayoutGap="20px" class="start__container" fxLayoutAlign="center center">
    <img src="assets/images/organization.png" alt="org-img" class="start__image">
    <h3>{{'start.noOrg.title'|translate}}</h3>
    <p>{{'start.noOrg.text'|translate}} </p>
    <button mat-flat-button color="primary"
            (click) = "createOrganization()">{{'start.noOrg.buttons.create'|translate}}</button>
  </div>
</ng-template>
</div>
